<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">

    <title>Restaurants page</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img th:src="@{/images/allPermitImages/logo.png}" alt="logo" width="30" height="30" class="d-inline-block align-middle">
            Food App :)
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customerPage}">Customer page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customerPage/orders/{userName}(userName=${#authentication.getName()})}">Your orders</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" >
                    <a class="nav-link" >
                        <span th:text ="${#authentication.getName()}"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<br>
<p class="text-center">There is a list of your orders!</p>
<br>
<div class="container">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Order number</th>
            <th>Date and time of the order</th>
            <th>Date and time of delivery</th>
            <th>Total amount</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${availableCustomerOrderDTOs}">
            <td th:text="${order.orderNumber}"></td>
            <td th:text="${order.receivedDateTime}"></td>
            <td th:text="${order.completedDateTime}"></td>
            <td th:text="${order.totalAmount}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <span th:unless="${order?.completedDateTime}">
                    <form action="#" th:action="@{/customerPage/orders/delete/{orderNumber}/{userName}(orderNumber=${order.orderNumber}, userName=${#authentication.getName()})}" th:method="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>

</html>