<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>MGt315 Food Delivery Application</title>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img th:src="@{/images/allPermitImages/logo.png}" alt="logo" width="40" height="30" class="d-inline-block align-middle">
            Food App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customerPage}">Customer page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customerPage/orders/{userName}(userName=${#authentication.getName()})}">Your orders</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" >
                    <a class="nav-link" >
                        <span th:text ="${#authentication.getName()}"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<div class="container">
    <br>
    <br>
    <p><b>Your delivery address is probably not available for this restaurant's delivery address.</b></p>
    <br>
    <br>
    <img th:src="@{/images/allPermitImages/error.png}" alt="ERROR" width="auto" height="300px"/>
    <br>
    <br>
    <div class="row mt-3">
        <div class="col-md-6">
            <a th:href="@{/}" class="btn btn-info" role="button">Home</a>
        </div>
        <div class="col-md-6">
            <a th:href="@{/customerPage}" class="btn btn-info" role="button">Customer</a>
        </div>
    </div>


</div>
</body>
</html>