<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>MGt315 Food Delivery Application</title>

    <style>
        .home-card img {
          width: 100%;
          height: 300px;
          border-radius: 10px;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <img th:src="@{/images/allPermitImages/logo.png}" alt="logo" width="40" height="30" class="d-inline-block align-middle">
                Food App
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customerPage}">Customer page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/restaurantPage}">Restaurant page</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" >
                        <a class="nav-link" >
                        <span th:unless="${#authentication.getName() == 'anonymousUser'}">
                            <span th:text ="${#authentication.getName()}"></span>
                        </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <span th:unless="${#authentication.getName() == 'anonymousUser'}">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>

    <div class="container my-5">
        <h2 class="text-center mb-4">MGt315 Food Delivery Application</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card home-card">
                    <img th:src="@{/images/allPermitImages/customerPage.png}" class="card-img-top" alt="customer page">
                    <div class="card-body">
                        <h5 class="card-title">Customer page</h5>
                        <p class="card-text">Check the list of available restaurants!</p>
                        <a th:href="@{/customerPage}" class="btn btn-primary" role="button">Check</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card home-card">
                    <img th:src="@{/images/allPermitImages/restaurantPage.png}" class="card-img-top" alt="restaurant page">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant page</h5>
                        <p class="card-text">Control your restaurant!</p>
                        <a th:href="@{/restaurantPage}" class="btn btn-primary" role="button">Manage</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center mb-4">Create your account</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card home-card">
                    <img th:src="@{/images/allPermitImages/customerRegistration.png}" class="card-img-top" alt="customer registration">
                    <div class="card-body">
                        <h5 class="card-title">Customer registration</h5>
                        <p class="card-text">Create your customer account</p>
                        <a th:href="@{/register/customer}" class="btn btn-primary" role="button">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card home-card">
                    <img th:src="@{/images/allPermitImages/restaurantRegistration.png}" class="card-img-top" alt="restaurant registration">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant registration</h5>
                        <p class="card-text">Create your restaurant account</p>
                        <a th:href="@{/register/restaurant}" class="btn btn-primary" role="button">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>

</body>

</html>